<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item vertical-center">
        <ul class="navbar-brand-list">
          <li class="brand-logo">
            <a class="navbar-brand" href="https://xirgo.com">
              <img src="{{{uiRootPath}}}/img/xt-logo.svg" alt="Xirgo Technologies" />
            </a>
          </li>
          <li>
            <a class="navbar-brand si-documentation" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">
              <img src="{{{uiRootPath}}}/img/docs-banner.svg" alt="{{site.title}}" class="si-docs"/>
              <img src="{{{uiRootPath}}}/img/docs-banner-hover.svg" alt="{{site.title}}" class="hide si-hover-docs"/>
            </a>
          </li>
        </ul>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field has-filter">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
          <label class="filter checkbox">
            <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> Current Product Only
          </label>
        </div>
      </div>
      {{/if}}
      <!--
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      -->
    </div>
    </div>
      <!--
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>
      </div>
    </div>
    -->
  </nav>
</header>
