@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url(~@fontsource/nunito-sans/files/nunito-sans-cyrillic-400-normal.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-400-italic.woff2) format("woff2"),
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-400-italic.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src: url(~@fontsource/nunito-sans/files/nunito-sans-cyrillic-400-italic.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-500-normal.woff2) format("woff2"),
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-500-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url(~@fontsource/nunito-sans/files/nunito-sans-cyrillic-500-normal.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 600;
  src:
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-500-italic.woff2) format("woff2"),
    url(~@fontsource/nunito-sans/files/nunito-sans-latin-500-italic.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 600;
  src: url(~@fontsource/nunito-sans/files/nunito-sans-cyrillic-500-italic.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
